.FullLoading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .loading {
        padding-top: 10px;
        height: 25px;
        text-align: center;
        font-size: 12px;
        .spinner {
            transform-origin: center;
            margin-right: 5px;
            animation: 1s rotate linear infinite;
            @keyframes rotate {
                0% {
                    transform: rotate(0deg)
                }
                100% {
                    transform: rotate(360deg)
                }
            }
        }
    }
}