.header {
    color: white;
    p {
        font-size: 50px;
    }
    .location-warp {
        background-image: linear-gradient(90deg, #0af, #0085ff);
        padding: 2.666667vw 3.733333vw 0;
        height: 9.2vw;
        display: flex;
        align-items: center;
        .selector {
            width: 60%;
            display: flex;
            align-items: center;
            p {
                margin: 0 1.333333vw;
                font-size: 14.5067px;
                max-width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
            }
            .location-icon {
                height: 13.2188px;
                width: 11.08px;
            }
            .down-icon {
                width: 1.866667vw;
                height: .933333vw;
            }
        }
        .h5-component-discoverRegular {
            height: 50px;
            width: 50px;
            fill: yellow;
        }
    }
}

.search-bar {
    position: sticky;
    top: 0;
    z-index: 999;
    margin-top: -1px;
    .button {
        padding: 2vw 3.733333vw;
        background-image: linear-gradient(90deg, #0af, #0085ff);
        a {
            background: white;
            height: 9.6vw;
            display: flex;
            align-items: center;
            border-radius: .266667vw;
            width: 100%;
            justify-content: center;
            .search-icon {
                display: inline-block;
                width: 4.266667vw;
                height: 4.266667vw;
                margin-right: 1.333333vw;
            }
            span {
                font-family: simsun;
                color: #999;
                font-size: 11.94px;
                line-height: 1.2;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}