.backToTop {
    position: fixed;
    z-index: 3;
    bottom: 20vw;
    right: 4vw;
    width: 11.333333vw;
    height: 11.333333vw;
    border-radius: 50%;
    background: #fff;
    border: .133333vw solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s;
    img {
        width: 5.333333vw;
        height: 5.333333vw;
    }
}

.backToTopShow {
    opacity: 1;
}